<dom-module id="cells-table-print-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply (--cells-table-print); }

:host([hidden]), [hidden] {
  display: none; }

*, *:before, *:after {
  box-sizing: inherit; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd; }

th, td {
  border: none;
  text-align: left;
  padding: 8px; }

</style></template></dom-module>