
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../moment-element/moment-element.html">
<link rel="import" href="../cells-atom-amount/cells-atom-amount.html">
<link rel="import" href="../cells-atom-icon/cells-atom-icon.html">
<link rel="import" href="cells-table-print-styles.html">
<!--
`<cells-table-print>` description.

Example:

```html
<cells-table-print></cells-table-print>
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| --cells-table-print  | Mixin applied to :host     | {}  |
| --cells-fontDefault  | Font family of :host    | sans-serif  |

@demo demo/index.html
-->
<dom-module id="cells-table-print">
  <template>
    <style include="cells-table-print-styles cells-table-print-shared-styles"></style>

    <button id="Copy" on-tap="copy">Copiar</button> 
    <button id="imprimir" on-tap="copy">Imprimir</button> 

    <div class="container">
      <table id="tableData">
        <tr>
          <template is="dom-repeat" items="[[cols]]">
            <th>[[item.key]]</th>
          </template>
        </tr>
        <template is="dom-repeat" items="[[items]]" as="row">
          <tr>
            <template is="dom-repeat" items="[[row.fields]]" as="col">
              <template is="dom-if" if="[[checkedType(col.type, 'string')]]">
                <td>
                  [[col.value]]
                </td>
              </template>
              <template is="dom-if" if="[[checkedType(col.type, 'date')]]">
                <td>
                  [[_parseDate(col.value)]]
                </td>
              </template>
              <template is="dom-if" if="[[checkedType(col.type, 'icon')]]">
                <td>
                  <span class$="[[col.css]] field" hidden$="[[!checkedIcon(col.value)]]">
                    <cells-atom-icon class$="icon icon-size-[[iconSize]]"
                      icon="[[_parseIcon(item.value)]]"></cells-atom-icon>
                  </span>
                </td>
              </template>
              <template is="dom-if" if="[[checkedType(col.type, 'icon-link')]]">
                <td>
                  <span hidden$=[[!item.value.txt]]>[[col.value.txt]]</span>
                </td>
              </template>
              <template is="dom-if" if="[[checkedType(col.type, 'icon-button')]]">
                <td>
                  <span  hidden$="[[!checkedIcon(col.value)]]">
                      <span hidden$=[[!col.value.txt]]>[[col.value.txt]]</span>
                  </span>
                </td>
              </template>
              <template is="dom-if" if="[[checkedType(col.type, 'amount')]]">
                <td>
                  <cells-atom-amount class="amount"
                    amount="[[col.value.amount]]"
                    currency-code="[[col.value.currency]]"
                    local-currency="[[col.value.currency]]"
                    language="[[lang]]"
                    amount-sizes="[[checkedSizeAmount(isMobile)]]"></cells-atom-amount>
                </td>
              </template>
              <template is="dom-if" if="[[checkedType(col.type, 'percentage-bar')]]">
                <td>
                  [[col.value.amountLeft]] de [[col.value.amountRight]]
                </td>
              </template>
            </template>
          </tr>
        </template>
      </table>
    </div>
  </template>
  <script src="cells-table-print.js"></script>
</dom-module>
