<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>Demo cells-table-print</title>
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../../iron-pages/iron-pages.html">
    <link rel="import" href="../../paper-tabs/paper-tabs.html">
    <link rel="import" href="../../paper-tabs/paper-tab.html">
    <link rel="import" href='../../ngob-theme/ngob-theme.html'>
    <link rel="import" href="../cells-table-print.html">
    <script src="./mocks/mocks.js"></script>
    <link rel="import" href="css/demo-styles.html">
    <style is="custom-style">
      :root{
        --paper-tab-ink: var(--brand-primary);
        --paper-tab-content:{
          @apply(--text-primary);
        };
        --paper-tabs-selection-bar-color: var(--brand-primar);
      }
    
    </style>

  </head>
  <body unresolved ontouchstart>

    <paper-tabs selected="{{page}}" attr-for-selected="name" id="paperTabs">
      <paper-tab name="uno">The first tab</paper-tab>
      <paper-tab name="dos">Tab two</paper-tab>
    </paper-tabs>

    <iron-pages selected="[[page]]" attr-for-selected="name" id="pagesComponent">
      <div name="uno">
        <demo-snippet>
          <template>
            <cells-table-print 
            id="myEl"
            items="[[movements.items]]"         
            cols="[[movements.cols]]"
            ></cells-table-print>
          </template>
        </demo-snippet>
      </div>
      <div name="dos">
        <demo-snippet>
          <template>
            <cells-table-print 
            id="myEl1"
            items="[[movements.items]]"         
            cols="[[movements.cols]]"
            ></cells-table-print>
          </template>
        </demo-snippet>
      </div>
    </iron-pages>

    <script src="./js/demo.js"></script>
  </body>
</html>
